footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

footer img {
  max-width: 100px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dio-logo {
  width: 200px;
  height: 97px;
  transition: color 0.3s ease;
  color: var(--text-color);
}

@media only screen and (max-width: 425px) {
  .footer__content {
    flex-direction: column;
  }
  
  .dio-logo {
    max-width: 100px;
  }
}