.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--text-color);
}

.languages li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1rem;
  /* font-weight: 700; */
}

.dio-languages {
  color: var(--text-color);
  margin-right: 0.5rem;
  width: 14px;
  height: 14px;
}